
﻿@using WatchesApp.Web.Models
@model IEnumerable<Watch>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

!<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <ul>
    @foreach(var watch in Model)
    {
        
        <li>@watch.Brand</li>
    }
    </ul>
</body>
    </html>
