
<div style="margin:50px;">
    <h2>Server Error</h2>
    <p>Sorry, an error occurred while processing your request.</p>
    <img src="https://undraw.co/api/illustrations/6c3c3ab3-0d0f-44d5-8f6f-3c62b8a5f1b0" alt="Page not found" style="max-width: 100%; height: auto;">

</div>

